name: Build and Publish Odoo Demo DB
on:
  push:
    branches:
      - master
      - 'release-*'
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'
    paths:
      - ".github/workflows/build_publish_odoo_demoDB.yml"
      - "package/resources/database/**"
      - "package/docker/demoDB/**"

  repository_dispatch:
    types: ["bahmni-scripts-trigger"]

jobs:
  docker-build-publish:
    name: Docker Build & Publish Odoo Demo DB
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set artifact version
        run: |
          wget -q https://raw.githubusercontent.com/Bahmni/bahmni-infra-utils/main/setArtifactVersion.sh && chmod +x setArtifactVersion.sh
          ./setArtifactVersion.sh
          rm setArtifactVersion.sh
      - name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}
      - name: Docker Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          file: package/docker/demoDB/Dockerfile
          push: true
          tags: bahmni/odoo-10-db:demo-${{env.ARTIFACT_VERSION}},bahmni/odoo-10-db:demo-latest
